.huv:hover{
    background-color:rgba(235, 227, 227, 0.836) ;
    border-radius: 20px ;
    padding: 3px ;
    border: 1px solid  rgba(235, 227, 227, 0.836);

}
.hov:hover{
    box-shadow: 1px 1px 1px 1px rgb(150, 149, 149);
    transition: 0.40s ease-out;
}
a{
    color: black ;
    text-decoration: none;
    text-transform: capitalize;

}

/* more content  */

.mor{
    margin-top: 180px;
    }
    .par {
    margin-top:5px ;
    margin-bottom: 25px ;
    }
    .par h2{
        font-size: 2.5rem;
        font-family: math;
        padding: 10px;
        font-weight: bolder;
    }
    .par h3 {
        font-family: math;
        font-size: 1.6rem;
        padding-left: 10px;
        font-weight: 400;
    }
    
    .kit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    }
    .fone{
    width: 335px ;
    height: 460px ;
    /* border: 1px solid black ; */
    overflow: hidden;
    
    }
    .fone img {
        width: 291px;
        height: 255px;
        border-radius: 15px;
        object-fit: cover;
        transition: all ease-out 0.5s;
    }
    .fone img:hover{
        scale: 1.1;
    }
    .fone h4 {
        font-size: 1rem;
        font-weight: 600;
        margin-top: 30px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .fone p {
        font-size: 18px;
        color: grey;
        line-height: 25px;
    }
    .fone h5{
        font-size: 15px;
      font-family: none;
    }
    .bod {
        color: grey;
        font-size: 15px;
    }
    .bh{
    margin: 15px ;
    }
    .bh button{
        width: 250px;
        height: 69px;
        border-radius: 10px;
        font-size: 1.2rem;
        font-family: math;
        background: white;
        font-weight: 500;
        border: 1px solid black;
        cursor: pointer;
    }
    
    /* expole  */
    